<header id="header">
	<div id="head">
		<h1 id="logo" class="text-center">
			<img class="img-circle" src="/assets/images/my_photo.jpg" alt="">
			<span class="title">Stas Shershnev</span>
			<span class="tagline">Software engineer<br>
				<a href="mailto:{{ site.email }}">{{ site.email }}</a></span>
		</h1>
	</div>

	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav">
                        {% for link in site.navigation %}
                          {% assign current = nil %}
                          {% if page.url == link.url or page.layout == link.layout %}
                            {% assign current = 'active' %}
                          {% endif %}

                          <li class="{{ current }}">
                            <a href="{{ link.url }}">{{ link.text }}</a>
                          </li>
                        {% endfor %}
				</ul>

			</div>
		</div>
	</nav>
</header>