<header class="site-head">
	<a class="avatar" href="{{ "/" | prepend: site.baseurl }}">
		<img src="/assets/images/my_photo.jpg" alt="Stas Shershnev">
	</a>
	<div class="site-name">Stas Shershnev</div>
	<div class="site-tagline">
		Software engineer<br>
		<a href="mailto:{{ site.email }}">{{ site.email }}</a>
	</div>
</header>

<nav class="site-nav">
	{%- for link in site.navigation %}
	<a href="{{ link.url }}"{% if page.url == link.url %} class="on"{% endif %}>{{ link.text }}</a>
	{%- endfor %}
</nav>
