<!DOCTYPE html>
<html lang="en">

{% include head.html %}

<body>
<main id="main">

    {% include header.html %}

	<div class="container">
		{{ content }}
	</div>	<!-- /container -->
    <div id="push"></div>
</main>

{% include footer.html %}

<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/bootstrap.min.js"></script>

<!-- code highlighter -->
<script src="/assets/js/highlight.min.js"></script>
<script>hljs.highlightAll();</script>
<!-- /code highlighter -->
</body>
</html>
