---
layout: default
---

<article class="post">
	<header class="post-header">
		{% include post-meta.html post=page %}
		<h1 class="entry-title">{{ page.title }}</h1>
	</header>

	<div class="entry-content">
		{{ content }}
	</div>
</article>

<section class="comments">
	<h2 class="comments-title">Comments</h2>
	<div id="disqus_thread"></div>
	<script type="text/javascript">
		var disqus_shortname = 'n1te';
		var disqus_identifier = '{{ page.id }}';
		var disqus_title = '{{ page.title }}';

		(function() {
			var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
			dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
			(document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
		})();
	</script>
	<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
</section>
