---
layout: default
---

<div class="row topspace">
    <div class="col-sm-8 col-sm-offset-2">

        <article class="post">
            <header class="entry-header">
                <div class="entry-meta">
                    <span class="posted-on">
                        <time class="entry-date published" date="{{ page.date | date: "%-d-%m-%Y" }}">
                        {% assign month = page.date | date: "%-B" %}
                        {{ page.date | date: "%-d %B %Y" | replace: month, site.months[month] }}
                        </time>
                    </span>
                </div>
                <h1 class="entry-title">{{ page.title }}</h1>
            </header>
            <div class="entry-content">
                {{ content }}
            </div>
        </article><!-- #post-## -->

    </div>
</div> <!-- /row post  -->
<div class="clearfix"></div>